/*=======Font Color Class=======*/
.txt-white{color: #ffffff !important;}
.txt-amber{color: #FFC107 !important}
.txt-lBlack{color: #333 !important;}
.txt-black{color: #000000 !important}
/*==========Background Color==========*/
.bg-white{background: #ffffff !important;}
.bg-amber{background: #FFC107 !important;}
.bg-lime{background: #C6FF00 !important;}
.bg-green{background: #4CAF50 !important;}
.bg-lGreen{background: #64DD17 !important;}
.bg-orange{background: #FF9800 !important;}
.bg-lOrange{background: #FF9800 !important;}
.bg-Dorange{background: #E65100 !important;}
.bg-yello{background: #FFFF00 !important;}


.bg-red{background: #F44336 !important}
.bg-lred{background: #E57373 !important}
.bg-Dred{background: #B71C1C !important}
.bg-pink{background: #E91E63 !important}
.bg-lpink{background: #F06292 !important}
.bg-Dpink{background: #880E4F !important}
.bg-purple{background: #9C27B0 !important}
.bg-lpurple{background: #BA68C8 !important}
.bg-Dpurple{background: #4A148C !important}
.bg-deepPurple{background: #673AB7 !important}
.bg-ldeepPurple{background: #9575CD !important}
.bg-DdeepPurple{background: #311B92 !important}
.bg-indigo{background: #3F51B5 !important}
.bg-lindigo{background: #7986CB !important}
.bg-Dindigo{background: #1A237E !important}

.bg-blue{background: #2196F3 !important}
.bg-lblue{background: #64B5F6 !important}
.bg-Dblue{background: #0D47A1 !important}

.bg-lightBlue{background: #03A9F4 !important}
.bg-llightBlue{background: #4FC3F7 !important}
.bg-DlightBlue{background: #01579B !important}

.bg-blue1{background: #BBDEFB !important}
.bg-blue2{background: #90CAF9 !important}
.bg-blue3{background: #64B5F6 !important}
.bg-blue4{background: #42A5F5 !important}

.bg-cyan{background: #00BCD4 !important}
.bg-lcyan{background: #4DD0E1 !important}
.bg-Dcyan{background: #006064 !important}
.bg-teal{background: #009688 !important}
.bg-lteal{background: #4DB6AC !important}
.bg-Dteal{background: #004D40 !important}
.bg-green{background: #4CAF50 !important}
.bg-lgreen{background: #81C784 !important}
.bg-Dgreen{background: #1B5E20 !important}
.bg-lightGreen{background: #8BC34A !important}
.bg-llightGreen{background: #AED581 !important}
.bg-DlightGreen{background: #33691E !important}
.bg-lime{background: #CDDC39 !important}
.bg-llime{background: #DCE775 !important}
.bg-Dlime{background: #827717 !important}
.bg-yellow{background: #FFEB3B !important}
.bg-lyellow{background: #FFF176 !important}
.bg-Dyellow{background: #F57F17 !important}
.bg-amber{background: #FFC107 !important}
.bg-lamber{background: #FFD54F !important}
.bg-Damber{background: #FF6F00 !important}
.bg-orange{background: #FF9800 !important}
.bg-lorange{background: #FFB74D !important}
.bg-Dorange{background: #E65100 !important}
.bg-deepOrange{background: #FF5722 !important}
.bg-ldeepOrange{background: #FF8A65 !important}
.bg-DdeepOrange{background: #BF360C !important}
.bg-brown{background: #795548 !important}
.bg-lbrown{background: #A1887F !important}
.bg-Dbrown{background: #3E2723 !important}
.bg-grey{background: #9E9E9E !important}
.bg-lgrey{background: #E0E0E0 !important}
.bg-Dgrey{background: #212121 !important}
.bg-blueGrey{background: #607D8B !important}
.bg-lblueGrey{background: #90A4AE !important}
.bg-DblueGrey{background: #263238 !important}
.bg-black{background: #000000 !important}
.bg-white{background: #ffffff !important}


/*=======Font Color Class=======*/
.text-red{color: #F44336 !important}
.text-lred{color: #E57373 !important}
.text-Dred{color: #B71C1C !important}
.text-pink{color: #E91E63 !important}
.text-lpink{color: #F06292 !important}
.text-Dpink{color: #880E4F !important}
.text-purple{color: #9C27B0 !important}
.text-lpurple{color: #BA68C8 !important}
.text-Dpurple{color: #4A148C !important}
.text-deepPurple{color: #673AB7 !important}
.text-ldeepPurple{color: #9575CD !important}
.text-DdeepPurple{color: #311B92 !important}
.text-indigo{color: #3F51B5 !important}
.text-lindigo{color: #7986CB !important}
.text-Dindigo{color: #1A237E !important}
.text-blue{color: #2196F3 !important}
.text-lblue{color: #64B5F6 !important}
.text-Dblue{color: #0D47A1 !important}
.text-lightBlue{color: #03A9F4 !important}
.text-llightBlue{color: #4FC3F7 !important}
.text-DlightBlue{color: #01579B !important}
.text-cyan{color: #00BCD4 !important}
.text-lcyan{color: #4DD0E1 !important}
.text-Dcyan{color: #006064 !important}
.text-teal{color: #009688 !important}
.text-lteal{color: #4DB6AC !important}
.text-Dteal{color: #004D40 !important}
.text-green{color: #4CAF50 !important}
.text-lgreen{color: #81C784 !important}
.text-Dgreen{color: #1B5E20 !important}
.text-lightGreen{color: #8BC34A !important}
.text-llightGreen{color: #AED581 !important}
.text-DlightGreen{color: #33691E !important}
.text-lime{color: #CDDC39 !important}
.text-llime{color: #DCE775 !important}
.text-Dlime{color: #827717 !important}
.text-yellow{color: #FFEB3B !important}
.text-lyellow{color: #FFF176 !important}
.text-Dyellow{color: #F57F17 !important}
.text-amber{color: #FFC107 !important}
.text-lamber{color: #FFD54F !important}
.text-Damber{color: #FF6F00 !important}
.text-orange{color: #FF9800 !important}
.text-lorange{color: #FFB74D !important}
.text-Dorange{color: #E65100 !important}
.text-deepOrange{color: #FF5722 !important}
.text-ldeepOrange{color: #FF8A65 !important}
.text-DdeepOrange{color: #BF360C !important}
.text-brown{color: #795548 !important}
.text-lbrown{color: #A1887F !important}
.text-Dbrown{color: #3E2723 !important}
.text-grey{color: #9E9E9E !important}
.text-lgrey{color: #E0E0E0 !important}
.text-Dgrey{color: #212121 !important}
.text-blueGrey{color: #607D8B !important}
.text-lblueGrey{color: #90A4AE !important}
.text-DblueGrey{color: #263238 !important}
.text-black{color: #000000 !important}
.text-white{color: #ffffff !important}